:root {
    --section-bg: #707070;
    /*--section-text: #ff8c00;*/
    --section-text: #ffaa00;
    --layout-bg: #3b3b3b;
    --page-bg: #E1DACB;
    --button: #ffffff;
    --label-text: #ffffff;
    --content-text: #000000;
    /*--content-text: #403e3f;*/
}
